<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
          <% link_to "", class: "" do %>
            <div class="badge-container">
              <i class="fa fa-youtube"></i>
            </div>
          <% end %>
          </li>
          <li>
          <% link_to "", class: "" do %>
            <div class="badge-container">
              <i class="fa fa-instagram"></i>
            </div>
          <% end %>
          </li>
          <li>
          <% link_to "", class: "" do %>
            <div class="badge-container">
             <i class="fa fa-facebook"></i>
            </div>
          <% end %>
          </li>
          <li>
          <% link_to "", class: "" do %>
            <div class="badge-container">
             <i class="fa fa-twitter"></i>
            </div>
          <% end %>
          </li>

        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>Cendrine de Villenaut</p>
      </div>
    </div>
  </div>
</div>
